@{
    ViewBag.Title = "About";
}
<div class="container">
    <div>
        <br />
        <h1>About</h1>
        <p class="lead">Bug Tracker is a software application that keeps track of reported software bugs in software development projects. The existing mock information contained is meant to showcase its use.  Please feel free to login as a guest user in one of the various guest user roles. Listed below are the details of the Web Application.</p>
        <p><a href="https://jenewbyiii.azurewebsites.net/" class="btn btn-primary btn-lg" target="_blank">Meet the Developer</a></p>
    </div>

    <div class="col-md-4">
        <h2>Languages/Frameworks</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>ASP.NET MVC</li>
            <li>C#</li>
            <li>Razor Syntax</li>
            <li>SQL</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>LINQ</li>
            <li>Boostrap</li>
            <li>Azure Web Services</li>
            <li>AJAX</li>
        </ul>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>Plugins Used</h2>
        <ul>
            <li>Twitter Typeahead</li>
            <li>Elmah</li>
            <li>Bootbox</li>
            <li>DataTables</li>
            <li>Glimpse</li>
            <li>Auto-Mapper</li>
            <li>Web Essentials</li>
            <li>Toastr</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Technologies Used</h2>
        <ul>
            <li>Partial Views</li>
            <li>Social Logins</li>
            <li>Custom Validations</li>
            <li>Client-Side Validations</li>
            <li>Data Transfer Objects</li>
            <li>Authentication and Authorization</li>
            <li>Database Seeding / Updating</li>
            <li>Forms</li>
            <li>Custom Error Pages</li>
        </ul>
    </div>
    <br />
    <br />
</div>